<h1>danh sach nguoi dung</h1>
<form>
     <select name="status">
          <option value="all">Tat ca
          </option>
          <option value="active" selected=<% statusBool && true %> >kich hoat
          </option>
          <option value="inactive" selected=<% !statusBool && true%> >chua kich hoat
          </option>
     </select>
     <input name="keyword" id="keyword" type="search" placeholder="tu khoa tim kiem" value=<%=keyword %>>
     <button>tim kiem</button>
</form>
<table>
     <thead>
          <tr>
               <th>STT</th>
               <th>Ten</th>
               <th>Email</th>
               <th>Trang thai</th>
               <th>Thoi gian</th>
               <th width="5%">Sua</th>
               <th width="5%">Xoa</th>
          </tr>
     </thead>
     <tbody>
          <% users.forEach(({id, name, email, status, created_at}, index)=> { %>
               <tr>
                    <td>
                         <%= index + 1 %>
                    </td>
                    <td>
                         <%= name %>
                    </td>
                    <td>
                         <%= email %>
                    </td>
                    <td>
                         <%= status %>
                    </td>
                    <td>
                         <%= moment(created_at).format('DD/MM/YYYY HH:mm:ss') %>
                    </td>
                    <td>
                         <a href="#">sua</a>
                    </td>
                    <td>
                         <a href="#">xoa</a>
                    </td>
               </tr>
               <% }) %>

     </tbody>
</table>

<script>


</script>